.navigation{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color:white;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navigation__link{
     padding-left: 30px;
     font-weight: 800;
     text-decoration: none;
     color: #4a3933;
}

.navigation__links{
    padding-top: 20px;
    padding-right: 40px;
}

.navigation__logo{
    padding-left: 40px;
}